<!DOCTYPE html>
<html 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1"/>
<title>User Page</title>
</head>
<body>
	<h1>Welcome <span sec:authentication="name"></span>!</h1>
	
	<ul>
		<li><a href="/">Home</a></li>
	</ul>
	
	
	<ul sec:authorize="hasRole('ROLE_ADMIN')">
		<li><span>This content is only available for user who has role ADMIN.</span></li>
	</ul>
	
	<ul sec:authorize="hasAnyRole('ROLE_DBA', 'ROLE_USER')">
		<li><span>This content is only available for user who has role USER and DBA.</span></li>
	</ul>
	
</body>
</html>