<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Login Page</title>
</head>
<body>
	<h3>Login</h3><hr/>
	<form th:action='@{/login}' th:method='POST'>
		<table>
			<tr>
				<td>User:</td>
				<td><input type='text' name='username' value='' /></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type='password' name='password' /></td>
			</tr>
			<tr>
				<td colspan='2'>
					<input name="submit" type="submit" value="Login" />
				</td>
			</tr>
		</table>
	</form>
	<ul>
		<li>USER: [username=user, password=user, role=USER]</li>
		<li>DBA: [username=dba, password=dba, role=DBA]</li>
		<li>ADMIN: [username=admin, password=admin, role=ADMIN]</li>
	</ul>
</body>
</html>